<%- include('./includes/head.ejs') %>
</head>
<body>

    <%- include('./includes/navigation.ejs', { activeLink: 'categories' }) %>
    
    <div class="wrapper">
        
        <%- include('./includes/header.ejs', { logout: true, adminTitle: 'Kategorie' }) %>

        <main class="main main--categories">

            <!-- CATEGORIES MODAL -->
            <container class="modal" id="modal" data-model="categories">
                <div class="modal__background"></div>
                <div class="modal__content">
                    <section class="modal__heading">
                        <h4 class="heading-4 heading-4--light" id="modal-heading"></h4>
                        <button class="modal__close-btn" id="modal-close">Close</button>
                    </section>
                    <section class="modal__main">
                        <div class="modal__row">
                            <input type="hidden" name="csrf" id="csrf" value="<%= csrfToken %>">
                            <div class="modal__data-cell">
                                <label for="categoryName" class="modal__label">Jméno</label>
                                <input id="categoryName" name="categoryName" class="modal__input" placeholder="Jméno (pod)kategorie" />
                            </div>
                            <div class="modal__data-cell">
                                <label for="categoryId" class="modal__label">Podřazeno kategorii</label>
                                <select id="categoryId" name="categoryId" class="modal__input">
                                    <option value="">Nepodřazeno (netvořím podkategorii)</option>
                                    <% categories.forEach(category => { %>
                                        <option value="<%= category._id %>"><%= category.name %></option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                        <div class="modal__row">
                            <div class="modal__data-cell">
                                <label for="image" class="modal__label">Obrázek</label>
                                <input type="file" name="image" id="image">
                            </div>
                        </div>
                    </section>
                    <section class="modal__actions">
                        <button class="modal__btn modal__btn--ok" id="modal-action">Uložit</button>
                        <button class="modal__btn modal__btn--cancel" id="modal-cancel">Zrušit</button>
                    </section>
                </div>
            </container>

            <!-- LIST OF CATEGORIES AND ADD CATEGORY BUTTON -->
            <button class="add-button" id="add-category-btn">+ Nová kategorie</button>
            <container class="categories">
                <% categories.forEach(category => { %>
                    <section class="category-box">
                        <div class="category-box__heading">
                            <h4 class="heading-4 heading-4--light"><%= category.name %></h4>
                            <button class="category-box__edit-btn" data-name="<%= category.name %>" data-categoryId="<%= category._id %>">!</button>
                        </div>
                        <div class="category-box__subcategories">
                            <% subcategories.forEach(subcategory => { %>
                                <% if (subcategory.categoryId.toString() === category._id.toString()) {  %>
                                    <div class="category-box__subcategory">
                                        <h4 class="heading-4"><%= subcategory.name %></h4>
                                        <button class="category-box__edit-btn" data-name="<%= subcategory.name %>" data-categoryId="<%= category._id %>" data-subcategoryId="<%= subcategory._id %>">!</button>
                                    </div>
                                <% } %>
                            <% }) %>
                        </div>
                    </section>
                <% }) %>
                
            </container>
            
        </main>

    </div>
    
<%- include('./includes/end.ejs') %>