<%- include('./includes/head.ejs') %>
</head>
<body>

    <%- include('./includes/navigation.ejs', { activeLink: 'products' }) %>
    
    <div class="wrapper">
        
        <%- include('./includes/header.ejs', { logout: true, adminTitle: 'Produkty' }) %>

        <main class="main main--edit-product">

            <form action="/admin/products/add" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="text" name="name" id="name" placeholder="NAME">
                <input type="text" name="description" id="description" placeholder="DESCRIPTION">
                <input type="number" name="price" id="price" placeholder="PRICE">
                <input type="text" name="categoryId" id="categoryId" placeholder="CATEGORYID">
                <input type="text" name="subcategoryId" id="subcategoryId" placeholder="SUBCATEGORYID">
                <input type="number" name="amountInStock" id="amountInStock" placeholder="AMOUNTINSTOCK">
                <input type="number" name="shippingCostId" id="shippingCostId" placeholder="SHIPPINGCOSTID">
                <input type="submit" value="Odeslat">
            </form>
            
        </main>

    </div>
    
<%- include('./includes/end.ejs') %>