<%- include('./includes/head.ejs') %>
</head>
<body>

    <%- include('./includes/navigation.ejs', { activeLink: 'orders' }) %>
    
    <div class="wrapper">
        
        <% const adminTitle = 'Objednávka #' + order.variableSymbol; %>
        <%- include('./includes/header.ejs', { logout: true, adminTitle: adminTitle }) %>

        <main class="main main--order-detail">

            <container class="order-detail">
                <% if (order.isCanceled) { %>
                    <p class="order-detail__cancel-notification">ZRUŠENO -&nbsp;<a href="/admin/invoice/cancel-<%= order._id %>">STORNOFAKTURA</a></p>
                <% } %>

                <!-- EDITABLE DATA -->
                <section class="order-detail__row">
                    <div class="order-detail__column">

                        <div class="order-detail__data">
                            <h4 class="heading-4">Status</h4>
                            <select class="order-detail__select" name="status" id="status">
                                <% statusesCzechLabels = ["Objednáno", "Odesláno", "Doručeno"] %>
                                <% statuses.forEach((status, index) => { %>
                                    <option value="<%= status %>" <% if (status === order.status) { %><%= selected="selected" %><% } %>><%= statusesCzechLabels[index] %></option>
                                <% }) %>
                            </select>
                        </div>

                    </div>
                    <div class="order-detail__column">

                        <div class="order-detail__data">
                            <h4 class="heading-4">Zaplaceno</h4>
                            <select class="order-detail__select" name="isPayed" id="isPayed" <% if (order.isPayed) { %>disabled<% } %>>
                                <option value="true" <% if (order.isPayed) { %><%= selected="selected" %><% } %>>Ano</option>
                                <option value="false" <% if (!order.isPayed) { %><%= selected="selected" %><% } %>>Ne</option>
                            </select>
                        </div>
                        
                    </div>
                    <button id="put-order" class="order-detail__btn" data-orderid="<%= order._id %>" data-csrf="<%= csrfToken %>">Upravit</button>
                </section>

                <!-- STATIC DATA -->
                <section class="order-detail__row">
                    <div class="order-detail__column">
                        <div class="order-detail__data">
                            <h4 class="heading-4">Doručení</h4>
                            <p class="paragraph-small"><%= order.delivery %><% if (order.delivery === "ZAS") { %>: <%= order.packetaId %><%} %></p>
                        </div>
                        <div class="order-detail__data">
                            <h4 class="heading-4">Datum</h4>
                            <p class="paragraph-small"><%= order.date %></p>
                        </div>
                    </div>
                    <div class="order-detail__column">
                        <div class="order-detail__data">
                            <h4 class="heading-4">Platba</h4>
                            <p class="paragraph-small"><%= order.payment %></p>
                        </div>
                        <div class="order-detail__data">
                            <h4 class="heading-4">Faktura</h4>
                            <p class="paragraph-small"><a href="/admin/invoice/<%= order._id %>">Odkaz</a></p>
                        </div>
                    </div>
                </section>
                <section class="order-detail__row">
                    <div class="order-detail__column">
                        <div class="order-detail__data">
                            <h4 class="heading-4">Jméno</h4>
                            <p class="paragraph-small"><%= order.firstName %></p>
                        </div>
                        <div class="order-detail__data">
                            <h4 class="heading-4">E-mail</h4>
                            <p class="paragraph-small"><%= order.email %></p>
                        </div>
                    </div>
                    <div class="order-detail__column">
                        <div class="order-detail__data">
                            <h4 class="heading-4">Příjmení</h4>
                            <p class="paragraph-small"><%= order.lastName %></p>
                        </div>
                        <div class="order-detail__data">
                            <h4 class="heading-4">Telefon</h4>
                            <p class="paragraph-small"><%= order.phone %></p>
                        </div>
                    </div>
                </section>
                <section class="order-detail__row">
                    <div class="order-detail__column">
                        <div class="order-detail__data">
                            <h4 class="heading-4">Ulice a č.p.</h4>
                            <p class="paragraph-small"><%= order.street %></p>
                        </div>
                        <div class="order-detail__data">
                            <h4 class="heading-4">Město</h4>
                            <p class="paragraph-small"><%= order.city %></p>
                        </div>
                    </div>
                    <div class="order-detail__column">
                        <div class="order-detail__data">
                            <h4 class="heading-4">&nbsp;</h4>
                            <p class="paragraph-small">&nbsp;</p>
                        </div>
                        <div class="order-detail__data">
                            <h4 class="heading-4">PSČ</h4>
                            <p class="paragraph-small"><%= order.zipCode %></p>
                        </div>
                    </div>
                </section>
                <section class="order-detail__row">
                    <table class="item-list">
                        <tbody class="item-list__content">
                            <tr class="item-list__heading">
                                <th>Název</th>
                                <th>Počet</th>
                                <th>Kč/ks</th>
                                <th>Cena</th>
                            </tr>
                            <% order.items.forEach(item => { %>
                                <tr class="item-list__row" id="<%= item.product._id %>">
                                    <td><%= item.product.name %></td>
                                    <td><%= item.amount %>ks</td>
                                    <td><%= item.product.price %>Kč/ks</td>
                                    <td><%= item.amount * item.product.price %>Kč</td>
                                </tr>
                            <% }) %>
                            <tr class="item-list__row">
                                <td>Platba - <%= order.payment %></td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td><%= order.paymentCost %>Kč</td>
                            </tr>
                            <tr class="item-list__row">
                                <td>Doručení - <%= order.delivery %></td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td><%= order.deliveryCost %>Kč</td>
                            </tr>
                            <tr class="item-list__row">
                                <td>Cena celkem</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td><%= +order.total + +order.deliveryCost + +order.paymentCost %>Kč</td>
                            </tr>
                        </tbody>
                    </table>
                </section>

                <% if (!order.isCanceled) { %>
                    <!-- CANCEL ORDER -->
                    <form class="order-detail__cancel-form" action="/admin/orders/cancel" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="hidden" name="orderId" value="<%= order._id %>">
                        <button class="order-detail__cancel-form__btn" type="submit">Zrušit objednávku</button>
                    </form>
                <% } %>

            </container>
            
        </main>

    </div>
    
<%- include('./includes/end.ejs') %>