<%- include('./includes/head.ejs') %>
</head>
<body>

    <%- include('./includes/navigation.ejs', { activeLink: 'orders' }) %>
    
    <div class="wrapper">
        
        <%- include('./includes/header.ejs', { logout: true, adminTitle: 'Objednávky' }) %>

        <main class="main main--orders">

            <!-- <div class="item-list__options">
                <input type="text" placeholder="Hledat">
                <a class="add-button" href="/admin/products/add">Nová objednávka</a>
            </div> -->

            <table class="item-list">
                <tbody class="item-list__content">
                    <tr class="item-list__heading">
                        <th>Jméno</th>
                        <th>E-mail</th>
                        <th>Doprava</th>
                        <th>Platba</th>
                        <th>Status</th>
                        <th>Zaplaceno</th>
                        <th>Částka</th>
                        <th>Akce</th>
                    </tr>
                    <% orders.forEach(order => {
                        let additionalClass = '';
                        if (order.status === "ORDERED") { additionalClass = 'item-list__row--yellow'; }
                        if (order.isPayed && order.status === "DELIVERED") { additionalClass = 'item-list__row--green'; }
                        if (order.isCanceled) { additionalClass = 'item-list__row--red'; }
                        if (!additionalClass) { additionalClass = 'item-list__row--white'; } %>
                        
                        <tr class="item-list__row <%= additionalClass %>" id="<%= order._id %>">
                            <td><%= order.firstName %> <%= order.lastName %></td>
                            <td><%= order.email %></td>
                            <td><%= order.delivery %></td>
                            <td><%= order.payment %></td>
                            <%
                                const czechStatus = {
                                    "ORDERED": "Objednáno",
                                    "SHIPPED": "Odesláno",
                                    "DELIVERED": "Doručeno"
                                }
                            %>
                            <td><%= czechStatus[order.status] %></td>
                            <td><% if (order.isPayed) { %>Ano<% } else { %>Ne<% } %></td>
                            <td><%= order.total %>Kč</td>
                            <td>
                                <a class="item-list__row__btn" href="/admin/orders/<%= order._id %>">Detail</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            
        </main>

    </div>
    
<%- include('./includes/end.ejs') %>