<%- include('./includes/head.ejs') %>
</head>
<body>

    <%- include('./includes/navigation.ejs', { activeLink: 'products' }) %>
    
    <div class="wrapper">
        
        <%- include('./includes/header.ejs', { logout: true, adminTitle: 'Produkty' }) %>

        <main class="main main--products">

            <div class="item-list__options">
                <input type="text" placeholder="Hledat">
                <a class="add-button" href="/admin/products/add">Nový produkt</a>
            </div>

            <table class="item-list">
                <tbody class="item-list__content">
                    <tr class="item-list__heading">
                        <th>Název</th>
                        <th>Zařazení</th>
                        <th>Skladem</th>
                        <th>Cena</th>
                        <th>Akce</th>
                    </tr>
                    <% products.forEach(product => { %>
                        <tr class="item-list__row" id="<%= product._id %>">
                            <td><%= product.name %></td>
                            <td><% if (product.categoryId) { %><%= product.categoryId.name %><% } else { %> - <% }; if (product.subcategoryId) { %>, <%= product.subcategoryId.name %> <% } else { %>, - <% } %></td>
                            <td><%= product.amountInStock %>ks</td>
                            <td><%= product.price %>Kč</td>
                            <td>
                                <a href="/admin/products/edit/<%= product._id %>">Upravit</a>
                                <button class="deleteProductBtn" data-id="<%= product._id %>" data-csrf="<%= csrfToken %>">Smazat</button>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            
        </main>

    </div>
    
<%- include('./includes/end.ejs') %>