<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/header.ejs') %>
    <%- include('../includes/gradient.ejs') %>
    
    <main class="main cart">
        
        <!-- CART LIST -->
        <section class="cart__cart-content">
            <ul class="cart__cart-content__list">
                <% if (cart) {
                    cart.items.forEach(item => { %>

                        <li class="cart__cart-content__item"><% item.product.name %></li> 

                    <% });
                } else { %>

                    <li class="cart__cart-content__item">Zatím v jste do košíku nic nevložili</li>

                <% } %>
            </ul>
        </section>

        <!-- ORDER FORM -->
        <section class="cart__order">
            
            <form class="cart__order__form" action="/objednavka" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="text" name="firstName" placeholder="Jméno">
                <input type="text" name="lastName" placeholder="Příjmení">
                <input type="text" name="email" placeholder="E-mail">
                <input type="text" name="phone" placeholder="Telefon">
                <input type="text" name="street" placeholder="Ulice, č.p.">
                <input type="text" name="city" placeholder="Město">
                <input type="text" name="zipCode" placeholder="PSČ">
                <select type="text" name="delivery">
                    <option value="ZAS">Zásilkovna</option>
                    <option value="POS">Česká pošta</option>
                    <option value="OOD">Osobní odběr</option>
                </select>
                <select type="text" name="payment">
                    <option value="DOB">Dobírka</option>
                    <option value="CRD">Kartou</option>
                    <option value="BTR">Bankovní převod</option>
                </select>
                <input type="submit" value="Odeslat">
            </form>

        </section>

    </main>

    <%- include('../includes/footer.ejs') %>
<%- include('../includes/end.ejs') %>