<%- include('../includes/head.ejs') %>
    <script type="text/javascript" src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch" defer></script>
    <script type="text/javascript" src="https://js.stripe.com/v3/" defer></script>
</head>
<body>
    <%- include('../includes/header.ejs') %>
    <%- include('../includes/gradient.ejs') %>
    
    <main class="main cart">
        
        <!-- CART LIST -->
        <section class="cart__cart-content">

            <h1 class="heading-1">Košík</h1>
            <button class="cart__cart-content__to-order-btn">K objednávce</button>
            <ul class="cart__cart-content__list">
                <% if (cart) {
                    cart.items.forEach(item => { %>

                        <!-- CART ITEM -->
                        <li class="cart-item">
                            <img class="cart-item__photo" src="<%= item.product.images[0] %>" alt="Fotka - <%= item.product.name %>">
                            <div class="cart-item__content">
                                <div class="cart-item__upper-row">
                                    <h4 class="heading-4"><%= item.product.name %></h4>
                                    <button class="close-button">X</button>
                                </div>
                                <img class="cart-item__photo--mobile" src="<%= item.product.images[0] %>" alt="Fotka - <%= item.product.name %>">
                                <div class="cart-item__lower-row">
                                    <div class="cart-item__amount-box">
                                        <button class="cart-item__amount-box__btn cart-item__amount-box__btn--remove">-</button>
                                        <p class="cart-item__amount-box__amount"><%= item.amount %>ks</p>
                                        <button class="cart-item__amount-box__btn cart-item__amount-box__btn--add">+</button>
                                    </div>
                                    <p class="cart-item__price"><%= (item.amount * item.product.price).toFixed(0) %>Kč</p>
                                </div>
                            </div>
                            <% item.product.name %>
                        </li> 

                    <% });
                } else { %>

                    <li class="cart__cart-content__item">Zatím v jste do košíku nic nevložili</li>
                    <li class="cart__cart-content__item">Prohlédněte si e-shop</li>

                <% } %>
            </ul>
            <% if (cart) { %>
                <div class="cart__cart-content__summary">
                    <h3 class="heading-3">Celkem za keramiku:</h3>
                    <p class="cart__cart-content__summary__price"><%= cart.total %>Kč</p>
                </div>
                <p class="cart__cart-content__dph">Nejsem plátce DPH</p>
            <% } %>
        </section>

        <!-- ORDER FORM -->
        <section class="cart__order">
            
            <h1 class="heading-1">Objednávka</h1>
            <form class="order-form" action="/objednavka" method="POST" id="order-form" data-stripepublickey="<%= stripePublicKey %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <!-- CUSTOMER DATA -->
                <div class="order-form__row">                    
                    <div class="order-form__data-cell">
                        <label class="order-form__label" for="firstName">Jméno</label>
                        <input class="order-form__input" type="text" id="firstName" name="firstName" placeholder="Jméno">
                    </div>
                    <div class="order-form__data-cell">
                        <label class="order-form__label" for="lastName">Příjmení</label>
                        <input class="order-form__input" type="text" id="lastName" name="lastName" placeholder="Příjmení">
                    </div>
                </div>
                <div class="order-form__row">
                    <div class="order-form__data-cell">
                        <label class="order-form__label" for="email">E-mail</label>
                        <input class="order-form__input" type="text" id="email" name="email" placeholder="E-mail">
                    </div>
                    <div class="order-form__data-cell">
                        <label class="order-form__label" for="phone">Telefon</label>
                        <input class="order-form__input" type="text" id="phone" name="phone" placeholder="Telefon">
                    </div>
                </div>
                <div class="order-form__row">
                    <div class="order-form__data-cell">
                        <label class="order-form__label" for="street">Ulice, č.p.</label>
                        <input class="order-form__input" type="text" id="street" name="street" placeholder="Ulice, č.p.">
                    </div>
                </div>
                <div class="order-form__row">
                    <div class="order-form__data-cell">
                        <label class="order-form__label" for="city">Město</label>
                        <input class="order-form__input" type="text" id="city" name="city" placeholder="Město">
                    </div>
                    <div class="order-form__data-cell">
                        <label class="order-form__label" for="zipCode">PSČ</label>
                        <input class="order-form__input" type="text" id="zipCode" name="zipCode" placeholder="PSČ">
                    </div>
                </div>
                <!-- DELIVERY -->
                <div class="order-form__radio-row">
                    <p class="order-form__subheading">Doručení</p>
                    <div class="order-form__radio-cell">
                        <input type="radio" id="ZAS" name="delivery" value="ZAS">
                        <label for="ZAS">Zásilkovna</label>
                        <p class="order-form__feature-price"><% if (cart) { %><%= constants.deliveryCosts["ZAS"][cart.shippingCostId] %>Kč<% } else { %>?<% } %></p>
                    </div>
                    <div class="order-form__radio-cell">
                        <input type="radio" id="POS" name="delivery" value="POS">
                        <label for="POS">Česká pošta</label>
                        <p class="order-form__feature-price"><% if (cart) { %><%= constants.deliveryCosts["POS"][cart.shippingCostId] %>Kč<% } else { %>?<% } %></p>
                    </div>
                    <div class="order-form__radio-cell">
                        <input type="radio" id="OOD" name="delivery" value="OOD">
                        <label for="OOD">Osobní odběr</label>
                        <p class="order-form__feature-price"><% if (cart) { %><%= constants.deliveryCosts["OOD"][cart.shippingCostId] %>Kč<% } else { %>?<% } %></p>
                    </div>
                </div>
                <!-- PAYMENT -->
                <div class="order-form__radio-row">
                    <p class="order-form__subheading">Platební metoda</p>
                    <div class="order-form__radio-cell">
                        <input type="radio" id="DOB" name="payment" value="DOB">
                        <label for="DOB">Dobírka</label>
                        <p class="order-form__feature-price"><%= constants.paymentCosts["DOB"] %>Kč</p>
                    </div>
                    <div class="order-form__radio-cell">
                        <input type="radio" id="CRD" name="payment" value="CRD">
                        <label for="CRD">Kartou</label>
                        <p class="order-form__feature-price"><%= constants.paymentCosts["CRD"] %>Kč</p>
                    </div>
                    <div class="order-form__radio-cell">
                        <input type="radio" id="BTR" name="payment" value="BTR">
                        <label for="BTR">Bankovní převod</label>
                        <p class="order-form__feature-price"><%= constants.paymentCosts["BTR"] %>Kč</p>
                    </div>
                </div>
                <!-- AGREES -->
                <div class="order-form__agree-row">
                    <div class="order-form__agree-cell">
                        <input type="checkbox" name="agree-gdpr" id="agree-gdpr">
                        <label for="agree-gdpr">Souhlasím se zpracováním osobních údajů</label>
                    </div>
                    <div class="order-form__agree-cell">
                        <input type="checkbox" name="agree-conditions" id="agree-conditions">
                        <label for="agree-conditions">Souhlasím s obchodními podmínkami</label>
                    </div>
                </div>
                <!-- SUBMIT -->
                <button type="submit" class="order-form__submit" disabled>Odeslat</button>
            </form>

        </section>

    </main>

    <%- include('../includes/footer.ejs') %>
<%- include('../includes/end.ejs') %>