<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/header.ejs') %>
    <%- include('../includes/gradient.ejs') %>

    <main>
        <section class="eshop">
            <div class="eshop__head">
                <figure class="picture eshop__category-picture">
                    <img src="/img/index-photo.jpg" class="picture__img" alt="Category picture">
                    <div class="picture__bg"></div>
                </figure>
                <h2 class="heading-2">Porcelánový špek</h2>
                <h3 class="heading-3">Podkategorie</h3>
            </div>
            <div class="eshop__body">

                <!-- CATEGORY-SELECT -->
                <div class="category-select">
                    <button class="category-select__mobile-button category-select__mobile-button--show">
                        Zobrazit kategorie
                    </button>
                    <h2 class="heading-2 heading-2--hidden">Kategorie</h2>
                    <ul class="category-select__category-list category-select__category-list--hidden">
                        <li class="category-select__category">
                            <h3 class="heading-3">Porcelánový šperk</h3>
                            <button class="category-select__button category-select__button--hide"></button>
                            <ul class="category-select__subcategory-list">
                                <li class="category-select__subcategory category-select__subcategory--selected">Náušnice</li>
                                <li class="category-select__subcategory">Náhrdelníky</li>
                                <li class="category-select__subcategory">Brože</li>
                            </ul>
                        </li>
                        <li class="category-select__category">
                            <h3 class="heading-3">Porcelánový šperk</h3>
                            <button class="category-select__button category-select__button--show"></button>
                            <ul class="category-select__subcategory-list category-select__subcategory-list--hidden">
                                <li class="category-select__subcategory">Příušnice</li>
                                <li class="category-select__subcategory">Náprdelníky</li>
                                <li class="category-select__subcategory">Bože</li>
                            </ul>
                        </li>
                        <li class="category-select__category">
                            <h3 class="heading-3">Porcelánový šperk</h3>
                            <button class="category-select__button category-select__button--show"></button>
                            <ul class="category-select__subcategory-list category-select__subcategory-list--hidden">
                                <li class="category-select__subcategory">Náružnice</li>
                                <li class="category-select__subcategory">Trdelníky</li>
                                <li class="category-select__subcategory">Nože</li>
                            </ul>
                        </li>
                        <li class="category-select__category">
                            <h3 class="heading-3">Porcelánový šperk</h3>
                            <button class="category-select__button category-select__button--show"></button>
                            <ul class="category-select__subcategory-list category-select__subcategory-list--hidden">
                                <li class="category-select__subcategory"></li>
                                <li class="category-select__subcategory"></li>
                                <li class="category-select__subcategory"></li>
                            </ul>
                        </li>
                        <li class="category-select__category">
                            <h3 class="heading-3">Porcelánový šperk</h3>
                            <button class="category-select__button category-select__button--show"></button>
                            <ul class="category-select__subcategory-list category-select__subcategory-list--hidden">
                                <li class="category-select__subcategory"></li>
                                <li class="category-select__subcategory"></li>
                                <li class="category-select__subcategory"></li>
                            </ul>
                        </li>
    
                    </ul>
                    <div class="category-select__backdrop category-select__backdrop--hidden">

                    </div>
                </div>

                <!-- PRODUCTS -->
                <div class="eshop__products">
                    <% if (products.length > 0) {
                        products.forEach(product => { %>
                            <div class="product">
                                <div class="product__modal">
                                    <button class="close-button product__modal__close-button"></button>
                                    <p class="product__modal__amount">Množství</p>
                                    <input class="product__modal__input" type="number">
                                    <button class="to-cart-button post-order-btn" data-csrf="<%= csrfToken %>" data-productid="<%= product._id %>">
                                        Do košíku
                                    </button>
                                </div>
                                <div class="product__body">
                                    <img src="/<%= product.images[0] %>" alt="Fotka <%= product.name %>" class="product__image">
                                    <div class="product__description">
                                        <p class="product__description-text">
                                            <%= product.description %>
                                        </p>
                                    </div>
                                </div>
                                <div class="product__info">
                                    <button class="to-cart-button">
                                        Do košíku
                                    </button>
                                    <p class="product__price">
                                        <%= product.price %>Kč
                                    </p>
                                    <p class="product__name">
                                        <%= product.name %>
                                    </p>
                                </div>
                            </div>
                        <% });
                    } else { %>
                        <p>Žádné produkty nenalezeny</p>
                    <% } %>
                    <div class="product">
                        <div class="product__modal">
                            <button class="close-button product__modal__close-button"></button>
                            <p class="product__modal__amount">Množství</p>
                            <input class="product__modal__input" type="number">
                            <button class="to-cart-button">
                                Do košíku
                            </button>
                        </div>
                        <div class="product__body">
                            <img src="img/index-photo.jpg" alt="Photo of the product" class="product__image">
                            <div class="product__description">
                                <p class="product__description-text">
                                    Vař hrnečku polívčičku, šest krát pět je devět. Pravda byla vždycky v cíčku, jsem kouzelník jak Nedvěd,
                                </p>
                            </div>
                        </div>
                        <div class="product__info">
                            <button class="to-cart-button">
                                Do košíku
                            </button>
                            <p class="product__price">
                                625 Kč
                            </p>
                            <p class="product__name">
                                Hrneček na polívčičku
                            </p>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product__modal">
                            <button class="close-button product__modal__close-button"></button>
                            <p class="product__modal__amount">Množství</p>
                            <input class="product__modal__input" type="number">
                            <button class="to-cart-button">
                                Do košíku
                            </button>
                        </div>
                        <div class="product__body">
                            <img src="img/index-photo.jpg" alt="Photo of the product" class="product__image">
                            <div class="product__description">
                                <p class="product__description-text">
                                    Vař hrnečku polívčičku, šest krát pět je devět. Pravda byla vždycky v cíčku, jsem kouzelník jak Nedvěd,
                                </p>
                            </div>
                        </div>
                        <div class="product__info">
                            <button class="to-cart-button">
                                Do košíku
                            </button>
                            <p class="product__price">
                                625 Kč
                            </p>
                            <p class="product__name">
                                Hrneček na polívčičku
                            </p>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product__modal">
                            <button class="close-button product__modal__close-button"></button>
                            <p class="product__modal__amount">Množství</p>
                            <input class="product__modal__input" type="number">
                            <button class="to-cart-button">
                                Do košíku
                            </button>
                        </div>
                        <div class="product__body">
                            <img src="img/index-photo.jpg" alt="Photo of the product" class="product__image">
                            <div class="product__description">
                                <p class="product__description-text">
                                    Vař hrnečku polívčičku, šest krát pět je devět. Pravda byla vždycky v cíčku, jsem kouzelník jak Nedvěd,
                                </p>
                            </div>
                        </div>
                        <div class="product__info">
                            <button class="to-cart-button">
                                Do košíku
                            </button>
                            <p class="product__price">
                                625 Kč
                            </p>
                            <p class="product__name">
                                Hrneček na polívčičku
                            </p>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product__modal">
                            <button class="close-button product__modal__close-button"></button>
                            <p class="product__modal__amount">Množství</p>
                            <input class="product__modal__input" type="number">
                            <button class="to-cart-button">
                                Do košíku
                            </button>
                        </div>
                        <div class="product__body">
                            <img src="img/index-photo.jpg" alt="Photo of the product" class="product__image">
                            <div class="product__description">
                                <p class="product__description-text">
                                    Vař hrnečku polívčičku, šest krát pět je devět. Pravda byla vždycky v cíčku, jsem kouzelník jak Nedvěd,
                                </p>
                            </div>
                        </div>
                        <div class="product__info">
                            <button class="to-cart-button">
                                Do košíku
                            </button>
                            <p class="product__price">
                                625 Kč
                            </p>
                            <p class="product__name">
                                Hrneček na polívčičku
                            </p>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product__modal">
                            <button class="close-button product__modal__close-button"></button>
                            <p class="product__modal__amount">Množství</p>
                            <input class="product__modal__input" type="number">
                            <button class="to-cart-button">
                                Do košíku
                            </button>
                        </div>
                        <div class="product__body">
                            <img src="img/index-photo.jpg" alt="Photo of the product" class="product__image">
                            <div class="product__description">
                                <p class="product__description-text">
                                    Vař hrnečku polívčičku, šest krát pět je devět. Pravda byla vždycky v cíčku, jsem kouzelník jak Nedvěd,
                                </p>
                            </div>
                        </div>
                        <div class="product__info">
                            <button class="to-cart-button">
                                Do košíku
                            </button>
                            <p class="product__price">
                                625 Kč
                            </p>
                            <p class="product__name">
                                Hrneček na polívčičku
                            </p>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product__modal">
                            <button class="close-button product__modal__close-button"></button>
                            <p class="product__modal__amount">Množství</p>
                            <input class="product__modal__input" type="number">
                            <button class="to-cart-button">
                                Do košíku
                            </button>
                        </div>
                        <div class="product__body">
                            <img src="img/index-photo.jpg" alt="Photo of the product" class="product__image">
                            <div class="product__description">
                                <p class="product__description-text">
                                    Vař hrnečku polívčičku, šest krát pět je devět. Pravda byla vždycky v cíčku, jsem kouzelník jak Nedvěd,
                                </p>
                            </div>
                        </div>
                        <div class="product__info">
                            <button class="to-cart-button">
                                Do košíku
                            </button>
                            <p class="product__price">
                                625 Kč
                            </p>
                            <p class="product__name">
                                Hrneček na polívčičku
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include('../includes/footer.ejs') %>
<%- include('../includes/end.ejs') %>