<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/header.ejs') %>
    <%- include('../includes/gradient.ejs') %>

    <main>
        <section class="eshop">
            <div class="eshop__head">
                <figure class="picture eshop__category-picture">
                    <img src="img/index-photo.jpg" class="picture__img" alt="Category picture">
                    <div class="picture__bg"></div>
                </figure>
                <h2 class="heading-2">Porcelánový špek</h2>
                <h3 class="heading-3">Podkategorie</h3>
            </div>
            <div class="eshop__body">
                <div class="category-select">
                    <button class="category-select__mobile-button">
                        Zobrazit kategorie
                    </button>
                    <h2 class="heading-2">Kategorie</h2>
                    <ul class="category-select__category-list">
                        <li class="category-select__category">
                            <h3 class="heading-3">Porcelánový šperk</h3>
                            <button class="category-select__button category-select__button--hide"></button>
                            <ul class="category-select__subcategory-list">
                                <li class="category-select__subcategory category-select__subcategory--selected">Náušnice</li>
                                <li class="category-select__subcategory">Náhrdelníky</li>
                                <li class="category-select__subcategory">Brože</li>
                            </ul>
                        </li>
                        <li class="category-select__category">
                            <h3 class="heading-3">Porcelánový šperk</h3>
                            <button class="category-select__button category-select__button--show"></button>
                            <ul class="category-select__subcategory-list category-select__subcategory-list--hidden">
                                <li class="category-select__subcategory">Příušnice</li>
                                <li class="category-select__subcategory">Náprdelníky</li>
                                <li class="category-select__subcategory">Bože</li>
                            </ul>
                        </li>
                        <li class="category-select__category">
                            <h3 class="heading-3">Porcelánový šperk</h3>
                            <button class="category-select__button category-select__button--show"></button>
                            <ul class="category-select__subcategory-list category-select__subcategory-list--hidden">
                                <li class="category-select__subcategory">Náružnice</li>
                                <li class="category-select__subcategory">Trdelníky</li>
                                <li class="category-select__subcategory">Nože</li>
                            </ul>
                        </li>
                        <li class="category-select__category">
                            <h3 class="heading-3">Porcelánový šperk</h3>
                            <button class="category-select__button category-select__button--show"></button>
                            <ul class="category-select__subcategory-list category-select__subcategory-list--hidden">
                                <li class="category-select__subcategory"></li>
                                <li class="category-select__subcategory"></li>
                                <li class="category-select__subcategory"></li>
                            </ul>
                        </li>
                        <li class="category-select__category">
                            <h3 class="heading-3">Porcelánový šperk</h3>
                            <button class="category-select__button category-select__button--show"></button>
                            <ul class="category-select__subcategory-list category-select__subcategory-list--hidden">
                                <li class="category-select__subcategory"></li>
                                <li class="category-select__subcategory"></li>
                                <li class="category-select__subcategory"></li>
                            </ul>
                        </li>
    
                    </ul>
                   
                </div>
                <div class="eshop__products">
                    <div class="product">
                        <div class="product-modal">
                            <button class="product-modal__close-button"></button>
                            <p class="product-modal__amount">Množství</p>
                            <input class="product-modal__input" type="number">
                            <button class="to-cart-button">
                                Do košíku
                            </button>
                        </div>
                        <div class="product-body">
                            <img src="img/index-photo.jpg" alt="Photo of the product" class="product__image">
                            <div class="product__description">
                                <p class="product__description-text">
                                    Vař hrnečku polívčičku, šest krát pět je devět. Pravda byla vždycky v cíčku, jsem kouzelník jak Nedvěd,
                                </p>
                            </div>
                        </div>
                        <div class="product-info">
                            <button class="to-cart-button">
                                Do košíku
                            </button>
                            <p class="product__price">
                                625 Kč
                            </p>
                            <p class="product__name">
                                Hrneček na polívčičku
                            </p>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-modal">
                            <button class="product-modal__close-button"></button>
                            <p class="product-modal__amount">Množství</p>
                            <input class="product-modal__input" type="number">
                            <button class="to-cart-button">
                                Do košíku
                            </button>
                        </div>
                        <div class="product-body">
                            <img src="img/index-photo.jpg" alt="Photo of the product" class="product__image">
                            <div class="product__description">
                                <p class="product__description-text">
                                    Vař hrnečku polívčičku, šest krát pět je devět. Pravda byla vždycky v cíčku, jsem kouzelník jak Nedvěd,
                                </p>
                            </div>
                        </div>
                        <div class="product-info">
                            <button class="to-cart-button">
                                Do košíku
                            </button>
                            <p class="product__price">
                                625 Kč
                            </p>
                            <p class="product__name">
                                Hrneček na polívčičku
                            </p>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-modal">
                            <button class="product-modal__close-button"></button>
                            <p class="product-modal__amount">Množství</p>
                            <input class="product-modal__input" type="number">
                            <button class="to-cart-button">
                                Do košíku
                            </button>
                        </div>
                        <div class="product-body">
                            <img src="img/index-photo.jpg" alt="Photo of the product" class="product__image">
                            <div class="product__description">
                                <p class="product__description-text">
                                    Vař hrnečku polívčičku, šest krát pět je devět. Pravda byla vždycky v cíčku, jsem kouzelník jak Nedvěd,
                                </p>
                            </div>
                        </div>
                        <div class="product-info">
                            <button class="to-cart-button">
                                Do košíku
                            </button>
                            <p class="product__price">
                                625 Kč
                            </p>
                            <p class="product__name">
                                Hrneček na polívčičku
                            </p>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-modal">
                            <button class="product-modal__close-button"></button>
                            <p class="product-modal__amount">Množství</p>
                            <input class="product-modal__input" type="number">
                            <button class="to-cart-button">
                                Do košíku
                            </button>
                        </div>
                        <div class="product-body">
                            <img src="img/index-photo.jpg" alt="Photo of the product" class="product__image">
                            <div class="product__description">
                                <p class="product__description-text">
                                    Vař hrnečku polívčičku, šest krát pět je devět. Pravda byla vždycky v cíčku, jsem kouzelník jak Nedvěd,
                                </p>
                            </div>
                        </div>
                        <div class="product-info">
                            <button class="to-cart-button">
                                Do košíku
                            </button>
                            <p class="product__price">
                                625 Kč
                            </p>
                            <p class="product__name">
                                Hrneček na polívčičku
                            </p>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-modal">
                            <button class="product-modal__close-button"></button>
                            <p class="product-modal__amount">Množství</p>
                            <input class="product-modal__input" type="number">
                            <button class="to-cart-button">
                                Do košíku
                            </button>
                        </div>
                        <div class="product-body">
                            <img src="img/index-photo.jpg" alt="Photo of the product" class="product__image">
                            <div class="product__description">
                                <p class="product__description-text">
                                    Vař hrnečku polívčičku, šest krát pět je devět. Pravda byla vždycky v cíčku, jsem kouzelník jak Nedvěd,
                                </p>
                            </div>
                        </div>
                        <div class="product-info">
                            <button class="to-cart-button">
                                Do košíku
                            </button>
                            <p class="product__price">
                                625 Kč
                            </p>
                            <p class="product__name">
                                Hrneček na polívčičku
                            </p>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-modal">
                            <button class="product-modal__close-button"></button>
                            <p class="product-modal__amount">Množství</p>
                            <input class="product-modal__input" type="number">
                            <button class="to-cart-button">
                                Do košíku
                            </button>
                        </div>
                        <div class="product-body">
                            <img src="img/index-photo.jpg" alt="Photo of the product" class="product__image">
                            <div class="product__description">
                                <p class="product__description-text">
                                    Vař hrnečku polívčičku, šest krát pět je devět. Pravda byla vždycky v cíčku, jsem kouzelník jak Nedvěd,
                                </p>
                            </div>
                        </div>
                        <div class="product-info">
                            <button class="to-cart-button">
                                Do košíku
                            </button>
                            <p class="product__price">
                                625 Kč
                            </p>
                            <p class="product__name">
                                Hrneček na polívčičku
                            </p>
                        </div>
                    </div>
                </div>
            </div>
           
        </section>
    </main>

    <%- include('../includes/footer.ejs') %>
<%- include('../includes/end.ejs') %>