<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/header.ejs') %>
    <%- include('../includes/gradient.ejs') %>

    <main>
        <section class="eshop">
            <div class="eshop__head">
                <figure class="picture eshop__category-picture">
                    <img src="img/index-photo.jpg" class="picture__img" alt="Category picture">
                    <div class="picture__bg"></div>
                </figure>
                <h2 class="heading-2 eshop__heading eshop__heading--category">Porcelánový špek</h2>
                <h3 class="heading-3 eshop__heading heading-3 eshop__heading--subcategory">Podkategorie</h3>
            </div>
            <div class="category-select eshop__category-select">
                <h2 class="heading-2 category-select__heading">Kategorie</h2>
                <ul class="category-select__category-list">
                    <li class="category-select__category">
                        <h3 class="heading-3 category-select__category-heading">Porcelánový šperk</h3>
                        <ul class="category-select__subcategory-list">
                            <li class="category-select__subcategory category-select__subcategory--selected">Náušnice</li>
                            <li class="category-select__subcategory">Náhrdelníky</li>
                            <li class="category-select__subcategory">Brože</li>
                        </ul>
                    </li>
                    <li class="category-select__category">
                        <h3 class="heading-3 category-select__category-heading">Porcelánový šperk</h3>
                        <ul class="category-select__subcategory-list">
                            <li class="category-select__subcategory">Příušnice</li>
                            <li class="category-select__subcategory">Náprdelníky</li>
                            <li class="category-select__subcategory">Bože</li>
                        </ul>
                    </li>
                    <li class="category-select__category">
                        <h3 class="heading-3 category-select__category-heading">Porcelánový šperk</h3>
                        <ul class="category-select__subcategory-list">
                            <li class="category-select__subcategory">Náružnice</li>
                            <li class="category-select__subcategory">Trdelníky</li>
                            <li class="category-select__subcategory">Nože</li>
                        </ul>
                    </li>
                    <li class="category-select__category">
                        <h3 class="heading-3 category-select__category-heading">Porcelánový šperk</h3>
                        <ul class="category-select__subcategory-list">
                            <li class="category-select__subcategory"></li>
                            <li class="category-select__subcategory"></li>
                            <li class="category-select__subcategory"></li>
                        </ul>
                    </li>
                    <li class="category-select__category">
                        <h3 class="heading-3 category-select__category-heading">Porcelánový šperk</h3>
                        <ul class="category-select__subcategory-list">
                            <li class="category-select__subcategory"></li>
                            <li class="category-select__subcategory"></li>
                            <li class="category-select__subcategory"></li>
                        </ul>
                    </li>

                </ul>
               
            </div>
            <div class="eshop__products">
                products
            </div>
        </section>
    </main>

    <%- include('../includes/footer.ejs') %>
<%- include('../includes/end.ejs') %>