<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/header.ejs') %>
    <%- include('../includes/gradient.ejs') %>

    <main>
        <section class="eshop">
            <div class="eshop__head">
                <figure class="picture eshop__category-picture">
                    <%
                        let catImg = categoryImage;
                        if (!categoryImage) {
                            catImg = "img/index-photo.jpg";
                        }
                    %>
                    <img src="/<%= catImg %>" class="picture__img" alt="Category picture">
                    <div class="picture__bg"></div>
                </figure>
                <h2 class="heading-2"><% if (categoryName) { %><%= categoryName %><% } else { %>E-shop<% } %></h2>
                <% if (subcategoryName) { %>
                    <h3 class="heading-3"><%= subcategoryName %></h3>
                <% } %>
            </div>
            <div class="eshop__body">

                <!-- CATEGORY-SELECT -->
                <div class="category-select">
                    <button class="category-select__mobile-button category-select__mobile-button--show">
                        Zobrazit kategorie
                    </button>
                    <h2 class="heading-2 heading-2--hidden">Kategorie</h2>
                    <ul class="category-select__category-list category-select__category-list--hidden">

                        <% categories.forEach(category => { %>
                            <li class="category-select__category <% if (category.name === categoryName) { %>category-select__category--selected<% } %>">
                                <a href="/shop/<%= category.name %>"><h3 class="heading-3"><%= category.name %></h3></a>
                                <button class="category-select__button <% if (category.name !== categoryName) { %>category-select__button--hide<% } else { %>category-select__button--show<% } %>"></button>
                                <%
                                
                                    const curSubcategories = [];
                                    subcategories.forEach(subcategory => {
                                        if (subcategory.categoryId.toString() === category._id.toString()) {
                                            curSubcategories.push(subcategory);
                                        }
                                    });

                                    if (curSubcategories.length) { %>
                                        <ul class="category-select__subcategory-list <% if (category.name !== categoryName) { %>category-select__subcategory-list--hidden<% } %>">
                                            <% curSubcategories.forEach(subcategory => { %>
                                                <a href="/shop/<%= category.name %>/<%= subcategory.name %>"><li class="category-select__subcategory <% if (subcategory.name === subcategoryName) { %>category-select__subcategory--selected<% } %>"><%= subcategory.name %></li></a>
                                            <% }) %>
                                        </ul>
                                    <% }
                                
                                %>
                            </li>
                        <% }) %>

                    </ul>
                    <div class="category-select__backdrop category-select__backdrop--hidden">

                    </div>
                </div>

                <!-- PRODUCTS -->
                <div class="eshop__products">
                    <% if (products.length > 0) {
                        products.forEach(product => { %>
                            <div class="product">
                                <div class="product__modal" tabindex="0">
                                    <button class="close-button product__modal__close-button"></button>
                                    <p class="product__modal__amount">Množství</p>
                                    <select class="product__modal__input" type="number" min="1">
                                        <% for (let i = 0; i < product.amountInStock; i++) { %>
                                            <option value="<%= i+1 %>"><%= i+1 %>ks</option>
                                        <% } %>
                                    </select>
                                    <button class="to-cart-button post-order-btn" data-csrf="<%= csrfToken %>" data-productid="<%= product._id %>">
                                        Do košíku
                                    </button>
                                </div>
                                <div class="product__body">
                                    <img src="/<%= product.images[0] %>" alt="Fotka <%= product.name %>" class="product__image">
                                    <div class="product__description">
                                        <p class="product__description-text">
                                            <%= product.description %>
                                        </p>
                                    </div>
                                </div>
                                <div class="product__info">
                                    <button class="to-cart-button" <% if (product.amountInStock < 1) { %>disabled<% } %>>
                                        <% if (product.amountInStock < 1) { %><span style="color: red">Není skladem</span><% } else { %>Do košíku<% } %>
                                    </button>
                                    <p class="product__price">
                                        <%= product.price %>Kč
                                    </p>
                                    <p class="product__name">
                                        <%= product.name %>
                                    </p>
                                </div>
                            </div>
                        <% });
                    } else { %>
                        <p>Žádné produkty nenalezeny</p>
                    <% } %>
                </div>
            </div>
        </section>
    </main>
   
    <%- include('../includes/footer.ejs') %>
<%- include('../includes/end.ejs') %>