<%- include('./includes/head.ejs') %>
</head>
<body>
    
    <main>
        <%= title %>
        <p>Message: <%= msg %></p>
    </main>

    <%- include('./includes/footer.ejs') %>
<%- include('./includes/end.ejs') %>